
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <img class="mb-4" src="../../assets/images/kvar.png" alt=""
        width="300" height="200">
    <h1>
        Unos novog Kvara
      </h1>
<div class="form-group">
  <label>Naslov tiketa:</label>
  <input type="text" class="form-control" [(ngModel)]='title' placeholder="Naslov" />
</div>

<div class="form-group">
  <label>Opis tiketa:</label>
  <textarea class="form-control" [(ngModel)]='body' placeholder="Opis tiketa" ></textarea>
</div>
<button class="btn btn-success" (click)='insertKvar()'> Insert</button>
</div>

</div>
</div>
<br/><br/>