<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <img class="mb-4" src="../../assets/images/depesa.jpg" alt="" width="300" height="200">
      <h3>
        Unos nove Depese
      </h3>

      <div class="panel-body inf-content">
        <div class="row">
          <div class="col-md-10 offset-md-1">

            <div class="form-group">
                <br>
              <label>Naslov tiketa:</label>
              <input type="text" class="form-control" [(ngModel)]='title' placeholder="Naslov" />
            </div>

            <div class="form-group">
              <label>Opis tiketa:</label>
              <textarea class="form-control" [(ngModel)]='body' placeholder="Opis tiketa"></textarea>
            </div>

            <div class="form-group">
                <input type="file" class="form-control" id="customFile" ng2FileSelect [uploader]='uploader'>
              </div>
          
              <div *ngIf='uploader.getNotUploadedItems().length'>
                  <button class="btn btn-outline-success btn-lg" (click)='uploader.uploadAll()'>Insert</button>
                </div>
                <br>
    
                <div *ngIf='!uploader.getNotUploadedItems().length'>
                  <button class="btn btn-outline-success btn-lg" (click)='insertDepesa2()'> Insert</button>
                </div>

               <br>
            <br>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
      <br/>
      <br/>